body{
    font: 20px Arial, sans-senrif;
}
.navbar{
    background-color: #298a08;
}

.quem-somos{
    background-color: #8181f7;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #5882fa;
}
.bg-footer{
    background-color: black;
    color: white;
}